/* 多看注释 */
img.duokan-footnote {
	width: 0.8em;
}

/* 单图片容器 */
.duokan-image-single {
	width:100%;
	text-align:center;
	margin:0!important;
}



p.text {
	/* 正文 首行缩进2em */
	font-size: 16px;
	duokan-text-indent: 2em;
	text-indent: 2em;
}

p.text0 {
	/* 正文 首行不缩进 */
	font-size: 16px;
	duokan-text-indent: 0em;
	text-indent: 0em;
}



p.reference {
	/* 引文 首行缩进2em */
	font-family: "DK-KAITI", "楷体", "方正楷体", "华文楷体";
	font-size: 16px;
	duokan-text-indent: 2em;
	text-indent: 2em;
}

p.reference0 {
	/* 引文 首行不缩进 */
	font-family: "DK-KAITI", "楷体", "方正楷体", "华文楷体";
	font-size: 16px;
	duokan-text-indent: 0em;
	text-indent: 0em;
}

p.reference-center {
	/* 引文 居中 */
	font-family: "DK-KAITI", "楷体", "方正楷体", "华文楷体";
	font-size: 16px;
	text-align: center;
}



h2.t1 {
	/* 正文 标题居左带细线 */
	color: #1f4a92;
	font-size: 22px;
	font-weight: normal;
	border-bottom: solid 1px #1f4a92;
	padding: 0.2em 0em 0.5em 0em;
	duokan-text-indent: 0em;
	text-indent: 0em;
}

h2.t1b {
	/* 正文 标题居左带粗线 */
	font-size: 22px;
	color: #91531d;
	font-weight: normal;
	margin-top: 2%;
	duokan-text-indent: 0em;
	text-indent: 0em;
	padding-bottom: 1em;
	border-bottom: solid 4px #e8c696;
}

h2.t1r {
	/* 正文 标题居右 */
	font-size: 22px;
	text-align: right;
	font-weight: normal;
	color: #cf181a;
	margin-bottom: 3em;
}

h2.t1c {
	/* 正文 标题居中带虚线 */
	font-weight: normal;
	font-size: 22px;
	color: #478686;
	text-align: center;
	border-bottom: dashed 1px #478686;
	margin-bottom: 2em;
	padding: 0.3em 0em 0.3em 0em;
}

h3.t2 {
	/* 正文 二级标题 */
	font-size: 18px;
	duokan-text-indent: 0em;
	text-indent: 0em;
	font-weight: normal;
	color: #91531d;
	margin-top: 2.2em;
	margin-bottom: 1.4em;
}

h4.t3 {
	/* 正文 三级标题 */
	font-size: 16px;
	duokan-text-indent: 0em;
	text-indent: 0em;
	font-weight: normal;
	color: #91531d;
	margin-left: 2em;
	margin-top: 2.2em;
	margin-bottom: 1.4em;
}



/* 版权信息页标题 */
h4.duokan-copyright-title {
	font-size: 24px;
	font-family: "DK-XIAOBIAOSONG", "方正小标宋简体";
	font-weight: normal;
	text-align: center;
}

/* 版权信息页正文 */
p.duokan-copyright-bodytext {
	font-family: "DK-SONGTI", "方正宋三简体", "方正书宋", "宋体";
	font-size: 16px;
	text-indent: 2em;
	duokan-text-indent: 2em;
}



/* 图片-无图说 */
img.duokan-image {
	width: 100%;
}

/* 图片-有图说 */
img.duokan-image-note {
	width: 100%;
	font-size: 16px;
	margin-bottom: 1em;
}

/* 图说楷体居左顶格 */
p.duokan-note {
	font-family: "DK-KAITI", "方正楷体", "华文楷体", "楷体";
	font-size: 14px;
	text-indent: 0em;
	duokan-text-indent: 0em;
	text-align: justify;
}

/* 图说楷体居中 */
p.duokan-note-center {
	font-family: "DK-KAITI", "方正楷体", "华文楷体", "楷体";
	font-size: 14px;
	text-align: center;
}

/* 图说楷体居右 */
p.duokan-note-right {
	font-family: "DK-KAITI", "方正楷体", "华文楷体", "楷体";
	font-size: 14px;
	text-align: right;
}

/* 并列图表格样式 */
table.duokan-gallery-image {
	font-size: 1em;
	width: 100%;
	margin: 1em auto 1em auto;
	border-spacing: 0.3em 0.3em;
}

/* 并列图单元格样式 */
td.duokan-gallery-cell {
	text-indent: 0em;
	duokan-text-indent: 0em;
}

/* 格内图样式 */
div.duokan-in-cell {
	width: 100%;
}



.songti {
	font-family: "DK-SONGTI", "方正宋三简体", "方正书宋", "宋体";
}

.heiti {
	font-family: "DK-HEITI", "方正兰亭黑简体", "黑体";
}

.kaiti {
	font-family: "DK-KAITI", "方正楷体", "华文楷体", "楷体";
}



h1.chapter-t1 {
	/* 一级标题居中 */
	font-size: 28px;
	text-align: center;
	color: #91531d;
	font-weight: normal;
	margin-top: 2.5em;
	margin-bottom: 2.5em;
}

h2.chapter-t2 {
	/* 二级标题 */
	font-size: 26px;
	text-indent: 0em;
	duokan-text-indent: 0em;
	color: #91531d;
	font-weight: normal;
	margin-top: 2em;
	margin-bottom: 1.8em;
}

h3.chapter-t3 {
	/* 三级标题 */
	font-size: 22px;
	text-indent: 0em;
	duokan-text-indent: 0em;
	color: #91531d;
	font-weight: normal;
	margin-top: 2em;
	margin-bottom: 1.8em;
}

h4.chapter-t4 {
	/* 四级标题 */
	font-size: 20px;
	font-weight: normal;
	duokan-text-indent: 0em;
	text-indent: 0em;
	margin-top: 2em;
	margin-bottom: 1.8em;
	color: #91531d;
}

h5.chapter-t5 {
	/* 五级标题 */
	font-size: 18px;
	font-weight: normal;
	duokan-text-indent: 0em;
	text-indent: 0em;
	border-left: solid 5px #d9d9d9;
	padding-left: 0.7em;
	margin-top: 2em;
	margin-bottom: 1.8em;
	color: #91531d;
}

h6.chapter-t6 {
	/* 六级标题 */
	font-size: 16px;
	font-weight: normal;
	duokan-text-indent: 0em;
	text-indent: 0em;
	margin-top: 2em;
	margin-bottom: 1.8em;
	margin-left: 2em;
	color: #91531d;
}